/*
.wy-nav-content {
	max-width: 100%;
}
*/

.wy-breadcrumbs-aside {
	display: none !important;
}

.wy-menu-vertical li.current a {
	color: #545454;
}

.toctree-l1 a, .toctree-l2 a, .toctree-l3 a {
	min-height: 32px;
}

/* Temporary fix for https://github.com/rtfd/sphinx_rtd_theme/issues/417 */

.rst-content .highlight>pre {
    line-height: 18px;
}
